.u-section-1 .u-sheet-1 {
  min-height: 1235px;
}

.u-section-1 .u-blog-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 998px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-image-1 {
  height: 531px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  background-image: none;
  margin: 44px 10px 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-metadata-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 34px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 34px auto 0;
}

.u-section-1 .u-pagination-1 {
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-blog-1 {
    min-height: 912px;
  }

  .u-section-1 .u-image-1 {
    height: 428px;
    width: 858px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    height: 341px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 271px;
    width: 530px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-blog-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 174px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}